{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script type="text/babel" src="{% static 'network/index.js' %}"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="nav-item">
                <a class="navbar-brand" href="#">NETWORK</a>
            </div>
            {% if user.is_authenticated %}
                <div class="nav-item">
                    <a id="nav-profile" class="nav-link" data-id="{{ user.id }}"><strong>{{ user.username }}</strong></a>
                </div>
            {% endif %}
            <div class="nav-item">
                <a id="nav-all-posts" class="nav-link" href="{% url 'index' %}">ALL POSTS</a>
            </div>
            {% if user.is_authenticated %}
                <div class="nav-item">
                    <a id="nav-following-posts" class="nav-link" href="#">FOLLOWING</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">LOG OUT</a>
                </div>
            {% else %}
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">LOG IN</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">REGISTER</a>
                </div>
            {% endif %} 
        </div>
        
           
          
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>