{% extends "network/layout.html" %}

{% block body %}
    <div class="entry-page-container">
        <div class="entry-page">
            <div class="entry-page-label">Login</div>

            {% if message %}
                <div class="entry-page-message">{{ message }}</div>
            {% endif %}
        
            <form class="entry-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div>
                    <input autofocus class="entry-form-input" type="text" name="username" placeholder="Username">
                </div>
                <div>
                    <input class="entry-form-input" type="password" name="password" placeholder="Password">
                </div>
                <input class="entry-form-button" type="submit" value="Login">
            </form>
            <div class="entry-page-link-container">
                Don't have an account? <a class="entry-page-link" href="{% url 'register' %}">Register here.</a>
            </div>
        </div>
    </div>
{% endblock %}