{% extends "network/layout.html" %}

{% block body %}
    <div class="entry-page-container">
        <div class="entry-page">
            <div class="entry-page-label">Register</div>

            {% if message %}
                <div class="entry-page-message">{{ message }}</div>
            {% endif %}

            <form class="entry-form" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div>
                    <input class="entry-form-input" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div>
                    <input class="entry-form-input" type="text" name="password" placeholderemail" name="email" placeholder="Email Address">
                </div>
                <div>
                    <input class="entry-form-input" type="password" name="password" placeholder="Password">
                </div>
                <div>
                    <input class="entry-form-input" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="entry-form-button" type="submit" value="Register">
            </form>
            <div class="entry-page-link-container">
                Already have an account? <a class="entry-page-link" href="{% url 'login' %}">Log In here.</a>
            </div>
        </div>
    </div>

{% endblock %}